# Aula 02

## Monitores:


1.   [Arthur Arash](https://www.linkedin.com/in/arthur-arash-briceno-heidari/)
2.   [Kaynan Souza](https://www.linkedin.com/in/kaynan-macedo-de-souza-9a3260231/)

<b>
<pre>

    list
    'index' ,'count','insert','remove','pop','reverse' , 'sort' ,'extend'
    , 'append','clear','copy',...


</pre>

In [ ]:
a = [8, 2, 12]

print(type(a))      # <class 'list'>

print(len(a))       # 3

print(a.index(2))   # 1

print(a[1])         # 2
a[1] = 7            # list is mutable

print('------')

a = [13, 5, 30, 8, 6, 25]

print(a[1:4])        # [5, 30, 8]
print(a[0:3])        # [13, 5, 30]
print(a[3:])         # [8, 6, 25]
print(a[::-1])       # [25, 6, 8, 30, 5, 13]

print(a[0:7:2])      # [13, 30, 6]

print('------')

child = ['Vini','Gio']
for i in child:
    print(i)

# or
for i in range(len(child)):
    print(child[i])

print('------')

a = [3, 5]
b = a*2
print(b)           # [3, 5, 3, 5]

print('------')

a = [1, 2 , 3]
b = ['a', 'b']
c = a + b
print(c)           # [1, 2, 3 ,'a', 'b']

print('------')

a = [15 , 5 , 67 , 3 ]

print(max(a))     # 67
print(min(a))     # 3
print(sum(a))     # 90

print(a.count(5)) # 1

a.insert(2,8)
print(a)          # [15, 5, 8, 67, 3]

a.remove(67)
print(a)          # [15, 5, 8, 3]

print(a.pop())    # 3
print(a)          # [15, 5, 8]

print(a.pop(1))   # 5
print(a)          # [15, 8]

del a[1]
print(a)          # [15]

print('------')
a = [3,7,5,4]
a.reverse()
print(a)          # [4,5,7,3]

a.sort()
print(a)          # [3,4,5,7]

print('------')

a = [1,2]
a.append(9)
print(a)          # [1, 2, 9]

print('------')
x = [1, 2]
y = ['a','b']
x.append(y)
print(x)          # [1, 2, ['a','b']]
print(len(x))     # 3
print('------')

x = [1, 2]
y = ['a','b']
x.extend(y)
print(x)          # [1, 2,'a','b']
print(len(x))     # 4

print('------')

a = [1, 2, 3, 4]
a.clear()
print(a)          # []
print(len(a))     # 0

print('------')

a = [1,2]
b = a.copy()
print(b)         # [1, 2]

print('------')

a = []
for i in range(3):
    a.append(i)

print(a)          # [0, 1, 2]

# or
a = [i for i in range(3)]
print(a)          # [0, 1, 2]

print('------')

grade = [5, 18, 20, 4, 7]

a = [i for i in grade if i > 10]
print(a)                          # [18,20]

print('------')

<b>
<pre>

    Tuple:
    len , index, sum , min , max , count , ...

</pre>

In [ ]:
t = ('English', 'Art', 'Mathematics')

print(type(t))   # <class 'tuple'>

print(len(t))    # 3

print(t[1])      # Art

print(t[1:3])    # ('Art', 'Mathematics')

print(t.index('Art'))      # 1

print( 'Art' in t)         # True

# t[0] = 'history'         # error : tuples are immutable

print('------')

t = (1, 7, 5)

print(sum(t))      # 13
print(max(t))      # 7
print(min(t))      # 1

print(t.count(9))  # 0

print(tuple(reversed(t)))  # (7,5,1)

print('------')

t = (1, 2)
a = list(t)
a.append(3)
t = tuple(a)
print(t)           # (1, 2, 3)

print('------')

t = (14, 7, 3, 19)
x = list(t)
x.remove(3)
t = tuple(x)
print(t)          # (14, 7, 19)

print('------')

t = ('red', 8)
x,y = t
print(x)         # red
print(y)         # 8

print('------')

a = (1, 2)
b = ('x', 'y')

c = zip(a,b)

print(list(c))           # [(1, 'x'), (2, 'y')]

# unzip
x = [(1, 'x'), (2, 'y')]
u = zip(*x)
print(list(u))          # [(1, 2), ('x','y')]

print('------')

###################################################################

<b>
<pre>


   dictionary:
       len , get , keys , values , items , pop , popitems ,...


</pre>

In [ ]:
print('# dict #')


d = {
     'brand' : 'b' ,
     'model' : 'm' ,
     'color' : 'red' ,
     'year'  : 2020
     }

# or
# d = dict( brand = 'b' , model='m' , color = 'white' , 'year' = 2020)


print('------')

d = {'x': 14, 'y': 32, 'z': 11, 'w': 7}

print(type(d))           # <class dict>

print(len(d))            # 4

print( d['y'])           # 32

print(d.get('y'))        # 32

print(list(d.keys()))    # ['x', 'y', 'z', 'w']

print(list(d.values()))  # [14, 32, 11, 7]

print(list(d.items()))   # [('x', 14), ('y', 32), ('z', 11), ('w', 7)]

for k,v in d.items():
    print(k,':',v)
'''
x : 14
y : 32
z : 11
w : 7
'''

d.pop('y')
print(d)                 # {'x': 14, 'z': 11, 'w': 7}

d.popitem()
print(d)                 # {'x': 14, 'z': 11}

d.clear()
print(d)                 # {}

del d

print('------')

d = {'x': 14, 'y': 32, 'z': 11, 'w': 7}

import operator

k = operator.itemgetter(1)

print(sorted(d.items(),key = k))

# [('w', 7), ('z', 11), ('x', 14), ('y', 32)]

print('------')

# combine
d1 = {'x' : 3 , 'y': 2 , 'z':1}
d2 = {'w' : 8 , 't': 7 }
d = {}

d = d1.copy()
d.update(d2)

print(d)      # {'x': 3, 'y': 2, 'z': 1, 'w': 8, 't': 7}

# or
d = {**d1 , **d2}

print('------')

k = ['a' , 'b']
v = [4 , 8]

z = zip(k,v)

d = dict(z)
print(d)       # {'a': 4, 'b': 8}

print('------')

### Nested dict

myfamily = {
        'child1': {'name':'Kaynan'  , 'age' : 21}  ,
        'child2': {'name':'Muri' , 'age' : 20}
        }

print('------')

p = {
     'name'     : 'Felipe',
     'children' : ['Ana', 'Mini-felipe'],
     'phone'    : {'home':'021-4455', 'mobile':'6199999'}
    }

print(len(p))                # 3

print(p['phone']['mobile'])  # 6199999

print(p['children'][0])      # Ana

<b>
<pre>

    Set :
        len , add, update , remove , discard , pop , copy , clear,
        intersection , union , difference , update , issubset , isdisjoint , ...

</pre>

In [ ]:
S = {'a','e','o','i'}

print(type(S))     # <class 'set'>

print(len(S))      # 4

print('u' in S)    # False

S.add('u')
print(S)           # {'i', 'u', 'e', 'a', 'o'}

print('------')

S.remove('i')
print(S)           # {'u', 'e', 'a', 'o'}

print('------')

c = S.copy()
print(c)          # {'a', 'o', 'e', 'u'}

print('------')

S.clear()
print(S)                   # set()
print(len(S))              # 0

print('------')

X = {1, 2, 3 ,4 , 5}
Y = {2, 4}

print(X.intersection(Y))    # {2, 4}
print(X & Y)                # {2, 4}

print('------')

print(X.union(Y))           # {1, 2, 3, 4 , 5}
print(X | Y)                # {1, 2, 3, 4 , 5}

print('------')

print(X.difference(Y))      # {1, 3, 5}
print(X-Y)                  # {1, 3, 5}

print('------')

X = {'A', 'M'}
Y = {'A','C','M','F'}
print(X.issubset(Y))       # True

## Function

In [ ]:
def f():
    print('Arthur e Legal')

f()

In [ ]:
def g():
    return 'Arthur e Legal'

print(g())

In [ ]:
def h(p):
    print(p)

h('Arthur e Legal')

In [ ]:
def f(x,y):
    if x > y : #?
        return x
    return y

def g(x,y,z):
    return f(x , f(y,z)) #f(3 , f(8,2))

print(g(3,8,2))  # ?

In [ ]:
x = 7
def func():
    global x
    print(x)   # 7
    x = 3
    print(x)   # 3

func()
print(x)       # 3

7
3
3

In [ ]:
def f(a, b):
    a *= 2
    b += 3
    return a, b

x = 4
y = 6
m, n = f(x, y)
print(m)        # 8
print(n)        # 9

8
9

In [ ]:
def f(lst :list):
    lst[0] *= 2
    lst[1] /= 3

a = [4, 9]
f(a)
print(a[0])    # 8
print(a[1])    # 3.0

In [ ]:
def h(my_dict):
    my_dict['x'] *= 2
    my_dict['y'] /= 3

d = {'x':4  , 'y':9}
h(d)
print(d['x'])    # 8
print(d['y'])    # 3.0
print(d)

8
3.0
{'x': 8, 'y': 3.0}

In [ ]:
def test(a , b=7):
    print(a,b)

test(5)
test(1, b=4)
test(1, 3)

5 7
1 4
1 3

In [ ]:
def test(x, y):
    print(x, y)

test(5, 2)           # 5 2
test(x = 5 , y = 2)  # 5 2
test(y = 2 , x = 5)  # 5 2
test(5 , y = 2)      # 5 2

5 2
5 2
5 2
5 2

## keyword only argument

In [ ]:
def f(*, x=8):
    print(x)

f()        # 8
f(x = 2)   # 2
#f(3)     #  Erro : f() takes 0 positional arguments but 1 was given

8
2

In [ ]:
# Defina uma função com um argumento exclusivo de palavra-chave 'x'
def f(*, x=8):
    print(x)

# Chame a função com o valor padrão de 'x' (8)
f()        # 8

# Chame a função com um valor específico para 'x' (2)
f(x=2)     # 2

# Descomentar a linha abaixo resultaria em um erro
# porque 'f' só pode ser chamada com um argumento de palavra-chave para 'x'

# f(3)     # Erro: f() aceita 0 argumentos posicionais, mas foi fornecido 1 ((takes 0 positional arguments but 1 was given))

## var arguments

In [ ]:
def add_more(a, b, *c):
    print(a + b + sum(c))

add_more(5, 2, 7 , 8 , 12)   # c = 7,8,12,.....
add_more(2, 6)               # 8

In [ ]:
def f(*x , y='\t'):
    return y.join(x)

print(f('Arthur', 'Kaynan'))
print(f('Giovanni', 'Felipe', 'Guilherme','Claudio','Lucas', y='/'))
print(f('Giovana', 'Gabriel', 'Murilo', y=' ; '))

Arthur	Kaynan
Giovanni/Felipe/Guilherme/Claudio/Lucas
Giovana ; Kaynan ; Murilo

In [ ]:
def test(a ,*, b=7, c=9):
    print(a,b,c)

test(5)         # 5  7  9
test(1, b=4)    # 1  4  9

# test(1, b=2, 6)    #  Erro: positional argument follows keyword argument

# test(1, 3, c=4)
'''
test() takes 1 positional argument but 2 positional arguments
(and 1 keyword-only argument) were given
'''

In [ ]:
def f(a, b , *c , **d):
    print(a)  # 3
    print(b)  # 4
    print(c)  # (7, 1, 6)
    print(d)  # {'x': 5, 'y': 7, 'z': 9}

f(3, 4, 7, 1, 6, x=5, y=7, z=9)

In [ ]:
#kaynan
def count_char(frase):
    d = {}
    for i in frase:
        if i in d.keys():
            d[i] +=1
        else:
            d[i] = 1
    return d

print(count_char('abbcfab'))       # {'a': 2, 'b': 3, 'c': 1, 'f': 1}

{'a': 2, 'b': 3, 'c': 1, 'f': 1}

<h2><b>
<pre>

    switch(a){
      case 1: return 'one' ;break;
      case 2: return 'two' ;break;
      defualt :return 'nothing';
    }

</pre>

In [ ]:
def switch(a):
    d = {
        1:'Um' ,                #case 1
        2:'Dois'                #case 2
        }
    return d.get(a,'Nenhuma')   #Defult

print(switch(1))  # Um
print(switch(2))  # Dois
print(switch(3))  # Nenhuma

Um
Dois
Nenhuma

In [ ]:
def switch(a):
    d = {1:'Um' , 2 : 'Dois'}
    return d.get(a,'Nenhuma')

print(switch(1))  # Um
print(switch(2))  # Dois
print(switch(3))  # Nenhuma

In [ ]:
#Tenta tirar os nmeros iguais
lista1 = [1, 2, 3, 1, 4, 2]

In [ ]:
def unique_list(lst ):
    novaLista = []
    for elemenoDaLista1 in lst:
        if elemenoDaLista1 not in novaLista:
          novaLista.append(elemenoDaLista1)
    return novaLista

print(unique_list(lista1))

[1, 2, 3, 4]

In [ ]:
def unique_list_2(lst):
   return list(set(lst))

print(unique_list_2(lista1))

[1, 2, 3, 4]

## PEP 484

In [ ]:
def greeting(name: str) -> str:
    return 'Hello ' + name

print(greeting('Arash'))

In [ ]:
def add(x:int, y:int) -> int:
    '''
     Suma Dois Numeros
    '''
    print(x+y)

add(2, 3)  # 5

print(add.__annotations__)
# {'x': <class 'int'>, 'y': <class 'int'>, 'return': <class 'int'>}

print(add.__doc__)   # Mostra a Documentacão

5
{'x': <class 'int'>, 'y': <class 'int'>, 'return': <class 'int'>}

     Suma Dois Numeros

<h2><b>
<pre>
    recursive
</pre>

In [ ]:
'''
iterative:
            n! = 1*2*3*...*n

recursive:
            n! = n * (n-1)!
            1! = 1

4! = 4 * 3! = 4 * 6 = 24
3! = 3 * 2! = 3 * 2 = 6
2! = 2 * 1! = 2 * 1 = 2
1! = 1

'''

def fact(n):
    if n == 1:
        return 1
    else:
        return n * fact(n-1)

print(fact(4))     # 24

In [ ]:
def f(n,base):
     s = '0123456789ABCDEF'
     if n < base:
         return s[n]
     else:
         return f(n//base , base) + s[ n % base]

print(f(25,16))       # 19

'''
f(25,16) = f(1,16) + s[9] = 1 + 9 = 19
f(1,16)  = s[1]  = 1

'''

print(f(8,2))         # 1000

In [ ]:
Lista = [2, 4, 7, 12, 19, 25, 38]
len(Lista)

#binary

7

<h1><b>
<pre>
  lambda
</pre>

In [ ]:
add = lambda x, y : x * y
print(add(2, 3))   # 6

In [ ]:
f = lambda x, y : (x + y , x - y)
print(f(8, 1))                     # (9, 7)

In [ ]:
f = lambda x, y : (x + y , x - y)
a,b= f(8,1)
print(a,b)
print(a+2)

9 7
11

## [***map***](https://www.hashtagtreinamentos.com/map-no-python)

In [ ]:
lst = ['ARASH','FELIPE']

In [ ]:
lst2=list()
for i in lst:
  x = i.lower()
  lst2.append(x)
print(lst2)

['arash', 'felipe']

In [ ]:
print(list(map(str.lower, lst)))     #['arash', 'felipe']


*   Exemplo 2
---

In [ ]:
precos = [1000, 1500, 1250, 2500]

In [ ]:


def adicionar_imposto(preco):
	return preco * 1.1


precos_com_imposto = []
for preco in precos:
	precos_com_imposto.append(adicionar_imposto(preco))

print(precos_com_imposto)

In [ ]:
precos_com_imposto2 = map(adicionar_imposto, precos)

print(precos_com_imposto2)

In [ ]:
a = ['Kaynan', 'Arash']
b = [20, 16]

print(list(zip(a,b)))                # [('Kaynan', 20), ('Arash', 16)]
#ou
print(list(map(lambda x, y : (x,y) , a , b)))

In [ ]:
a = [1, 3]
b = [2, 4]
print(list(map(lambda x, y :x+y, a, b)))   # [3, 7]

In [ ]:
a = [16, 7, 14, 6]
print(list(map(lambda x : x < 10 , a)))    # [False, True, False, True]

<h1><b>
<pre>
  filter
</pre>

In [ ]:
a = [16, 7, 14, 6]
print(list(filter(lambda x : x < 10 , a)))  # [7, 6]

In [ ]:
a = [12, 17, '', 6,'' , 18]
print(list(filter(None,a)))       # [12, 17, 6, 18]

<h1><b>
<pre>
  reduce
</pre>

In [ ]:
from functools import reduce

lis = [12, 17, 6, 18]
add = lambda a,b : a+b

print(reduce(add, lis))        # 53   : (((12+17)+6)+18)

<h1><b>
<pre>
  sorted
</pre>

In [ ]:
lst = [12, 17, 6, 18]
print(sorted(lst))             # [6, 12, 17, 18]

[6, 12, 17, 18]

In [ ]:
lst

[6, 12, 17, 18]

In [ ]:
lst.sort()

In [ ]:
d = {'ali' : 12, 'sara' : 17, 'taha' : 6 , 'mahsa' : 18}
print(sorted(d.items() , key = lambda x : x[1]))

# [('taha', 6), ('ali', 12), ('sara', 17), ('mahsa', 18)]

<b>
<pre>


</pre>