# Monitores:


1.   [Arthur Arash](https://www.linkedin.com/in/arthur-arash-briceno-heidari/)
2.   [Kaynan Souza](https://www.linkedin.com/in/kaynan-macedo-de-souza-9a3260231/)

# Data Types   

*    int
*    float
*    str
*    complex
*    bool

In [ ]:
i = 5
print(type(i))      # <class 'int'>

<class 'int'>

In [ ]:
f = 3.6
print(type(f))      # <class 'float'>

<class 'float'>

In [ ]:
s = "Python"
print(type(s))      # <class 'str'>

<class 'str'>

In [ ]:
c = 2 + 7j
print(type(c))      # <class 'complex'>

<class 'complex'>

In [ ]:
b = True
print(type(b))      # <class 'bool'>

<class 'bool'>

In [ ]:
#'--variable names---'
print('a2'.isidentifier())      # True
print('2a'.isidentifier())      # False
print('_myvar'.isidentifier())  # True
print('my_var'.isidentifier())  # True
print('my$'.isidentifier())     # False

True
False
True
True
False

In [ ]:
from keyword import iskeyword
print( iskeyword('if'))         # True

True

## ---Python Casting---

In [ ]:
i = 4
print(float(i))     # 4.0

In [ ]:
s ='15'
print(int(s) + 1)   # 16

## swaping

In [ ]:
x = 4
y = 8
y, x = x, y         # assign y value to x and x value to y #swaping
print(x)            # 8
print(y)            # 4

In [ ]:
a = 1
b = 2
a, b = b, a + b
print(a)           # ?
print(b)           # ?

2
3

# Operators :




> <b>Arithmetic : +,-,*,/,%,**,//  <br>
>    Assignment : =,+=,-=,*= ,/= ,%= ,//= ,**= <br>
>    Comparison : ==,!=,>,<,>=,<=<br>
>    Logical    : and, or, not<br>
>    Membership : in , not in<br>
>    Bitwise    :  &, |, ^, ~, <<, >><br>

In [ ]:
print(17 // 2)         # 8
print(17 % 2)          # 1
print(3 ** 2)          # 9

In [ ]:
y = 4
y //= 2               # y = y // 2
print(y)              # 2

In [ ]:
print('------')

print(2 != 3)                       # True

print('------')

print(1<3 and 4>5)                  # False

print('------')

In [ ]:
a = 15
print(bin(a))                       # 0b1111
b = 9
print(bin(b))                       # 0b1001
c = a | b
print(bin(c))                       # 0b1111

## math

In [ ]:
import math
print( math.sqrt(16))      # 4.0
print( math.trunc(4.3))    # 4
print( math.factorial(3))  # 6
print( math.log2(16))      # 4.0
print( math.fmod(17,2))    # 1.0
print( math.fabs(-5))      # 5.0
print( math.pow(2,4))      # 16.0
print( math.pi)            # 3.141592653589793

## random

In [ ]:
import random
print( random.randint(1, 10))
print( random.choice([1,10]))

print('# datetime #')
import datetime
now = datetime.datetime.now()
print(now)                 # 2020-05-20 03:20:13.384938

# Control statements:
*    if
*  elif
*  else

In [ ]:
import math
n = -9
if n < 0 :
   n = abs(n)

print(math.sqrt(n))        # 3.0

In [ ]:
a = 9
if a % 2 == 1:
    print('impar')            #evevn
else:
    print('Par')         # odd

## conditional expression

//em C99 (C)

```
#include <stdio.h>
void main()
{  
(condição) ? <comandos>   :  <comandos>    ;
}

```


//em python
```
< comandos do if > if < condição > else  < comandos do else >
```

In [ ]:
arthurVaidarAula = True

In [ ]:
print("Arthur Vai dar aula") if arthurVaidarAula else print(" Kaynan Vai dar aula")

Arthur Vai dar aula

In [ ]:
a = 3
b = 8

if a < b:
   m = a
else:
   m = b

In [ ]:
print(m)

3

In [ ]:
M = a if a < b else b
print(M)                 # 3

3

In [ ]:
print(a if a < b else b)

3

In [ ]:
grade = 7
s = 'fail' if grade < 10 else 'pass'
print(s)                                # fail

In [ ]:
today = 'holiday'
b = 40

if today == 'Holiday':
   if b > 50:
       print('Shopping')
   else:
       print('Watch TV')               # Watch TV
else:
    print('Normal working day')

In [ ]:
Nota = 8

if Nota >= 9.0:
    l = 'SS'
else:
  if Nota >= 7.0 :
      l = 'MS'
  else:
       if Nota>= 5.0:
           l = 'MM'
       else :
        if Nota>= 3.0:
           l = 'MI'
        else :
          if Nota>= 1.0:
            l = 'II'
          else :
            l = 'RI'


print(l)         # MS

MS

In [ ]:
Nota = 0

if Nota >= 9.0:
    l = 'SS'
elif Nota >= 7.0:
      l = 'MS'
elif Nota>= 5.0:
    l = 'MM'
elif Nota>= 3.0:
    l = 'MI'
elif Nota>= 1.0:
    l = 'II'
else :
    l = 'RI'
print(l)          #RI

RI

<pre>
<b>
  loop :
          for
          while

</pre>

In [ ]:
for i in range(3):
    print(i , end = ' ')      # 0 1 2

0 1 2

In [ ]:
for _ in range(3):
    print('hello')

hello
hello
hello

In [ ]:
for j in range(6,11,2):
    print(j , end = ' ' )    # 6 8 10

print('\n------')

In [ ]:
for i in range(2,5):
    for j in range(1,i):
        print(j , end = ' ')
    print()

'''
1
1  2
1  2  3
'''

1
1 2
1 2 3

'\n1\n1  2\n1  2  3\n'

## break

In [ ]:
print('\n # break #')

for i in range(6):
    if i == 4 :
        break
    else:
        print(i,end=' ')   # 0 1 2 3

## continue

In [ ]:
for i in range(6):
    if i == 4 :
        continue

    print(i, end = " ")   # 0 1 2 3 5
    print("rodou")

0 rodou
1 rodou
2 rodou
3 rodou
5 rodou

In [ ]:
i = 1
while i <= 4:
    print(i , end= ' ')    # 1 2 3 4
    i += 1

In [ ]:
n = 9
while n > 2:
    n -= 1
    if n == 4:
        break
    print(n , end = ' ')    # 8 7 6 5

In [ ]:
n = 9
while n > 2:
    n -= 1
    if n == 4:
        continue
    print(n , end = ' ')    # 8 7 6 5 3 2

<b>
<pre>

  string
          len , is..  ,find , count  , title , ljust , startswith , replcae ,
          strip , split , join , format , ...


</pre>

In [ ]:
print('\n---String---')

s = 'python'

print(len(s))               # 6
print( 'th' in s)           # True

print(s.islower())          # True
print(s.isalpha())          # True
print(s.isdigit())          # False

print(s.find('o'))          # 4
print(s.count('o'))         # 1

print(s.title())            # Python
print(s.upper())            # PYTHON

print(s.ljust(8,'+'))       # python++
print(s.startswith('py'))   # True

print(s.replace('thon','ramid'))   # pyramid

---String---
6
True
True
True
False
4
1
Python
PYTHON
python++
True
pyramid

In [ ]:
s = '$python$$'
print(s.strip('$'))     # python

In [ ]:
s = 'Python created by Rossum'
a = s.split(' ')
print(a)            # ['Python', 'created', 'by', 'Rossum']

['Python', 'created', 'by', 'Rossum']

In [ ]:
b = ['Python', 'created', 'by', 'Rossum']
c =' '.join(b)
print(c)

Python created by Rossum

In [ ]:
print('# format #')

s = 'python'

print(f'name : {s}')           # name : python
print('name:{}'.format(s))     # name : python

print('------')

a = 'Arthur'
b = 'Heydari'

print('name:{0}   surname:{1}'.format(a, b))

# name:Arthur   surname:Heydari

print('------')

print(f'name:{Arthur}   surname:{Heydari}')

print('------')
a = 15
b = 17.9999

print('{:d} {:.1f}'.format(a, b))    # 15  18.0

print('------')